.container {
  margin: 0 auto;
  width: 720px;
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

header ul {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted black;
}

header li {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

footer {
    border-top : 1px dotted black;
    padding: 10px 0;
}

=======
	font-family: 'Open Sans', sans-serif;
}
>>>>>>> 85daedf1439d9481512af5e95f101bad28082901
